<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Twitter-Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WordCount</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.WordCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordCount</servlet-name>
    <url-pattern>/launchwordcount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoHashtag</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.CoHashtagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoHashtag</servlet-name>
    <url-pattern>/launchcohashtag</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hashtag</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.HashtagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hashtag</servlet-name>
    <url-pattern>/launchhashtag</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyTo</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.ReplyToServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyTo</servlet-name>
    <url-pattern>/launchreplyto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Trends</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.TrendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trends</servlet-name>
    <url-pattern>/launchtrends</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PairStripes</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.PairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PairStripes</servlet-name>
    <url-pattern>/launchpiechart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USA</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.USAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USA</servlet-name>
    <url-pattern>/launchUSA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ukraine</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.UkraineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ukraine</servlet-name>
    <url-pattern>/launchUkraine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Obama</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.ObamaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Obama</servlet-name>
    <url-pattern>/launchObama</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyNameIsCamila</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.MyNameIsCamilaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyNameIsCamila</servlet-name>
    <url-pattern>/launchMyNameIsCamila</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Miami</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.MiamiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Miami</servlet-name>
    <url-pattern>/launchMiami</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MH370</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.MH370Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MH370</servlet-name>
    <url-pattern>/launchMH370</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JackieRobinsonDay</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.JackieRobinsonDayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JackieRobinsonDay</servlet-name>
    <url-pattern>/launchJackieRobinsonDay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GleeAlong</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.GleeAlongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GleeAlong</servlet-name>
    <url-pattern>/launchGleeAlong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>China</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.ChinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>China</servlet-name>
    <url-pattern>/launchChina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AwkwardSeniorYear</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.popular.AwkwardSeniorYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AwkwardSeniorYear</servlet-name>
    <url-pattern>/launchAwkwardSeniorYear</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kmeans</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.KmeanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kmeans</servlet-name>
    <url-pattern>/launchKmeans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Graph</servlet-name>
    <servlet-class>edu.buffalo.cse.dic.controller.GraphServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Graph</servlet-name>
    <url-pattern>/launchGraph</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShortestPath</servlet-name>
  	<servlet-class>edu.buffalo.cse.dic.controller.ShortestPath</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShortestPath</servlet-name>
  	<url-pattern>/launchShortestPath</url-pattern>
  </servlet-mapping>
</web-app>